@page "/shareables"
@using BlazorState;
@using System;
@using Humanizer;
@using NLendApp.Features.Shareables;
@using NLendApp.Features.User;
@inject IShareableService Service;

@inherits BlazorStateComponent

<PageTitle>Shareables</PageTitle>

<h1>Borrow a tool</h1>

@if (State.Items?.Length == 0)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="container mt-4">
		<div class="row">
			@foreach (var item in State.Items ?? new ShareableItem[0])
			{
				<Card Class="mb-4" Style="width:18rem;">
					<img class="rounded-top pt-2"
						 style="max-height: 250px; object-fit: contain;"
						 src="@item.Image"
						 alt="@item.Name" />
					<CardBody>
						<CardTitle>@item.Name</CardTitle>
						<CardText Style="height: 120px;">@item.Description</CardText>
						<Button Color="ButtonColor.Primary"
								Disabled="!CanBorrow(item)"
								Type="ButtonType.Button"
								@onclick="() => Service.BorrowItem(item, userState.LoggedInUser!)">
							<Tooltip Title="Borrow" Placement="TooltipPlacement.Right">
								<Icon Name="IconName.Basket"></Icon>
							</Tooltip>
						</Button>
					</CardBody>
					<CardFooter>
						<small class="text-muted">Belongs to: @userState.GetUserById(item.OwnerId)?.FullName <br />
						Lent by: <b class="@(item.LentBy == null ? "text-success" : "text-secondary")">@(item.LentBy != null ? userState.GetUserById(item.LentBy)?.FullName + " " + item.LentOn.Humanize() : "Available")</b></small>
					</CardFooter>
				</Card>
			}
		</div>
	</div>
}

@code {
	ShareablesState State => GetState<ShareablesState>();
	UserState userState => GetState<UserState>();

	[InjectState<UserState>(nameof(UserState.Users))]
	public List<User> Users;

	protected override async Task OnInitializedAsync()
	{
		this.SetupState();
		await Service.LoadDbData();
	}

	public object GetStat<T>()
	{
		return GetState<T>();
	}

	private void SetupState()
	{
		var fieldAttributeMap = this.GetType()
			.GetFields()
			.Select(field => {
				object attribute = field.GetCustomAttributes(true)
					.FirstOrDefault((a) => a.GetType().Name == "InjectState`1");
				if (attribute == null)
				{
					return (null, null);
				}

				return (field, attribute);
			})
			.Where(x => x.field != null)
			.ToList();

		foreach (var x in fieldAttributeMap)
		{
			dynamic genericType = x.attribute
				.GetType()
				.GetProperty("Type")
				.GetValue(x.attribute, null);
			var state = typeof(Shareables)
				.GetMethod("GetStat")
				.MakeGenericMethod(genericType)
				.Invoke(this, null);

			var selector = x.attribute
				.GetType()
				.GetProperty("Selector")
				.GetValue(x.attribute, null)
				.ToString();
			var stateProp = state.GetType().GetProperty(selector);
			var val = stateProp?.GetValue(state, null);
			x.field.SetValue(this, val);
		}
	}

	private bool CanBorrow(ShareableItem item)
	{
		return userState.LoggedInUser != null
			&& item.LentBy == null
			&& item.OwnerId != userState.LoggedInUser.Id;
	}
}